doctype html
html(lang="vi-VN")
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    //if lt IE 9
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    title= title
    meta(name='description' content='The Wedding Invitation')
    meta(name='author' content='NhanVo')

    link(rel='icon' href='/img/fav-150x150.png' sizes='32x32')
    link(rel='icon' href='/img/fav.png' sizes='192x192')

    link(rel='stylesheet' href='/css/layout.css')

    block stylesheet

  body
    block content
    .grid-container
      .item.header
        block header

      .item.slideshow
        block slideshow

      .item.calendar
        block calendar

      .item.countdown
        block countdown

      .item.titlegroombride
        block titlegroombride

      .item.groom
        block groom

      .item.bride
        block bride

      .item.button(style="display: none;") 
        block button

      .item.loveStory
        block loveStory

      .item.gallery
        block gallery

      .item.events
        block events

      .item.titleWishes(style="display: none;")
        block titleWishes

      .item.formWishes(style="display: none;")
        block formWishes

      .item.replyWishes(style="display: none;")
        block replyWishes

      .item.RSVP
        block RSVP

      .item.qr 
        block qr

      .item.footer
        block footer

    script(type='text/javascript' src='/js/websocket.js')
    script(type='text/javascript').
      startWebsocket();

    block javascript